body {
  background-color: black;
}

#display {
  text-align: right;
  background-color: lightgray;
  border-radius: 2px;
}

#formula {
  text-align: right;
  background-color: steelblue;
  color: black;
  border-radius: 2px;
  border-bottom: 2px solid black;
}

.btn {
  border: 1px solid;
  border-color: black;
}

.container {
  margin-top: 15%;
}
